@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


.homeblack:hover{
	background-color: blue;
	padding: 30px 10px 21px 10px;

}

.table-form {
  /* apply center bootstrap for responsiveness here */
  margin-left: 200px;
  width: 100%;
  /* margin: auto; */
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
} 

.table-form-Employee {
  /* apply center bootstrap for responsiveness here */
  width: 10%;
  margin-top: -600px;
  margin-left: 95px;
}

.table-form-Leave {
  /* apply center bootstrap for responsiveness here */
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
  /* margin: auto;  */
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
} 


th, td {
  text-align: center;
  padding: 0px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color:#76D7C4;}

th {
  margin-left: 70px;
  background-color: #20202c;
  color: white;
}

.rows{
	background-color: #f2f2f2;
	color: rgb(78, 127, 136);
}

.rows:hover{background-color:#76D7C4;}

.p-t-20 {
  padding-top: 20px;
}

.btn {
  margin-left: 100px;
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  background: #141414;
}









